django
django-browser-reload
whitenoise
mysqlclient
db-sqlite3
django-widget-tweaks
livereload
django-debug-toolbar
pillow
django-cors-headers
django-livereload
django-simple-captcha
python-decouple
libsass
python-memcached
django-robots
django-htmlmin
django-cachalot
django-extensions
django-libsass
opencv-python
scikit-image
termcolor
django-sass-processor
django-compressor