{% load i18n %}
{% load static%}
{% load compress%}
{% compress css %}

    <link rel="stylesheet" type="text/x-scss" href="{% static 'common/header.scss' %}" />
{% endcompress %}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../media//original/logo.png" alt="Logo">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-nav--links me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul >
            <ul class="actions navbar-nav navbar-nav--actions d-flex align-items-center gap-3 ms-3">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="icon bi bi-search"></i>

                    </a>
                    <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link--cart"><i class=" icons bi bi-cart"></i></a>
                </li>
                <li class="nav-item">
                    <button class="btn btn--signup btn-primary rounded-pill">Sign up</button>
                </li>
            </ul>
            
          </div>
        </div>
      </nav>

</header>