/* line 2, website/static/common/header.scss */
.navbar .container {
  background-color: green; }
  /* line 4, website/static/common/header.scss */
  .navbar .container .navbar-nav--links {
    background-color: blue;
    margin-left: 68px; }
  /* line 11, website/static/common/header.scss */
  .navbar .container .navbar-nav--actions .nav-item a {
    color: white;
    transition: all 0.3s ease; }
    /* line 16, website/static/common/header.scss */
    .navbar .container .navbar-nav--actions .nav-item a:hover {
      color: #ba8c04; }
  /* line 20, website/static/common/header.scss */
  .navbar .container .navbar-nav--actions .nav-item .btn--signup {
    background-color: #EAB308;
    transition: all 0.3s ease; }
    /* line 25, website/static/common/header.scss */
    .navbar .container .navbar-nav--actions .nav-item .btn--signup:hover {
      background-color: #ba8c04; }
