/* line 2, website/static/common/header.scss */
.navbar .container {
  background-color: green; }
  /* line 4, website/static/common/header.scss */
  .navbar .container .navbar-nav--links {
    background-color: blue; }
  /* line 10, website/static/common/header.scss */
  .navbar .container .navbar-nav--actions .nav-item a {
    color: white; }
  /* line 15, website/static/common/header.scss */
  .navbar .container .navbar-nav--actions .nav-item .btn--signup {
    background-color: #EAB308;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 9px; }
    /* line 20, website/static/common/header.scss */
    .navbar .container .navbar-nav--actions .nav-item .btn--signup:hover {
      background-color: #ba8c04; }
