/* line 2, website/static/common/header.scss */
.navbar .container {
  color: red; }
  /* line 4, website/static/common/header.scss */
  .navbar .container .navbar-nav--links {
    background-color: blue; }
  /* line 7, website/static/common/header.scss */
  .navbar .container .navbar-nav--actions {
    background-color: red; }
