/* line 7, website/static/website/scss/home.scss */
:root {
  --primary-yellow-color: #EAB308;
  --primary-yellow-hover-color: #ba8c04; }

/* line 11, website/static/website/scss/home.scss */
.hero {
  height: 90vh; }
  /* line 13, website/static/website/scss/home.scss */
  .hero .container {
    display: flex;
    height: 100%; }
    /* line 16, website/static/website/scss/home.scss */
    .hero .container .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 12px; }
      /* line 22, website/static/website/scss/home.scss */
      .hero .container .text h1 {
        font-weight: 700;
        line-height: 120%;
        font-size: 30px; }
        /* line 26, website/static/website/scss/home.scss */
        .hero .container .text h1 span {
          color: var(--primary-yellow-color); }
      /* line 30, website/static/website/scss/home.scss */
      .hero .container .text p {
        width: 60%; }
      /* line 33, website/static/website/scss/home.scss */
      .hero .container .text .btn--get-started {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: none;
        width: fit-content;
        background-color: var(--primary-yellow-color);
        transition: all 0.3s ease;
        font-size: 12px;
        font-weight: 500; }
        /* line 44, website/static/website/scss/home.scss */
        .hero .container .text .btn--get-started:hover {
          background-color: var(--primary-yellow-hover-color); }
    /* line 49, website/static/website/scss/home.scss */
    .hero .container .images {
      position: relative;
      width: 50%; }
      /* line 52, website/static/website/scss/home.scss */
      .hero .container .images img {
        position: absolute; }
        /* line 55, website/static/website/scss/home.scss */
        .hero .container .images img.image--sofa {
          left: -40%;
          bottom: 0%;
          width: 120%;
          z-index: 5; }
        /* line 61, website/static/website/scss/home.scss */
        .hero .container .images img.image--plant {
          height: 100%;
          right: -5%;
          bottom: 5%;
          z-index: 2; }
  /* line 71, website/static/website/scss/home.scss */
  .hero::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 110%;
    z-index: -1;
    background-color: #CEDEEB;
    right: -28%;
    top: -30%;
    transform: skewX(-30deg); }

/* line 86, website/static/website/scss/home.scss */
.products .container .header .wrapper {
  justify-content: space-between;
  align-items: center; }
  /* line 89, website/static/website/scss/home.scss */
  .products .container .header .wrapper p {
    width: 40%;
    font-weight: 400; }
  /* line 93, website/static/website/scss/home.scss */
  .products .container .header .wrapper .btn--see-more {
    background-color: var(--primary-yellow-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s ease; }
    /* line 104, website/static/website/scss/home.scss */
    .products .container .header .wrapper .btn--see-more:hover {
      background-color: var(--primary-yellow-hover-color); }

/* line 110, website/static/website/scss/home.scss */
.products .container .gallery {
  gap: 18px;
  flex-wrap: wrap; }
  /* line 113, website/static/website/scss/home.scss */
  .products .container .gallery .card {
    position: relative;
    width: calc(33.33% - 18px);
    padding: 0;
    border: 1px solid white;
    border-radius: 14px;
    transition: all 0.3s ease; }
    /* line 120, website/static/website/scss/home.scss */
    .products .container .gallery .card img {
      height: 75%;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px; }
    /* line 125, website/static/website/scss/home.scss */
    .products .container .gallery .card .like {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #6D6D6D26;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0; }
      /* line 137, website/static/website/scss/home.scss */
      .products .container .gallery .card .like i {
        font-size: 20px; }
        /* line 139, website/static/website/scss/home.scss */
        .products .container .gallery .card .like i.bi-heart, .products .container .gallery .card .like i.bi-heart-fill {
          color: #EF4444; }
    /* line 145, website/static/website/scss/home.scss */
    .products .container .gallery .card .card-body {
      display: flex;
      flex-direction: column;
      gap: 8px; }
      /* line 149, website/static/website/scss/home.scss */
      .products .container .gallery .card .card-body .rating {
        color: #6B7280;
        display: flex;
        gap: 5px; }
        /* line 153, website/static/website/scss/home.scss */
        .products .container .gallery .card .card-body .rating i {
          color: var(--primary-yellow-color) !important; }
      /* line 157, website/static/website/scss/home.scss */
      .products .container .gallery .card .card-body .title-and-action {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        /* line 161, website/static/website/scss/home.scss */
        .products .container .gallery .card .card-body .title-and-action .card-title {
          margin: 0; }
        /* line 164, website/static/website/scss/home.scss */
        .products .container .gallery .card .card-body .title-and-action .btn--add-to-cart {
          width: 40px;
          height: 40px;
          padding: 0 !important;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border: 2px solid var(--primary-yellow-color);
          color: var(--primary-yellow-color);
          font-size: 25px;
          transition: all 0.3s ease; }
          /* line 177, website/static/website/scss/home.scss */
          .products .container .gallery .card .card-body .title-and-action .btn--add-to-cart:hover {
            background-color: var(--primary-yellow-color);
            color: white; }
      /* line 183, website/static/website/scss/home.scss */
      .products .container .gallery .card .card-body .price {
        color: var(--primary-yellow-color);
        width: fit-content;
        transition: all 0.3s ease;
        padding: 2px 10px;
        border-radius: 8px; }
    /* line 191, website/static/website/scss/home.scss */
    .products .container .gallery .card:hover {
      border: 1px solid #D1D5DB; }

/* line 198, website/static/website/scss/home.scss */
.card:hover .price {
  background-color: #EAB3081A; }

@media (max-width: 767px) {
  /* line 204, website/static/website/scss/home.scss */
  .hero .container {
    flex-direction: column; }
    /* line 206, website/static/website/scss/home.scss */
    .hero .container .text {
      width: 100%;
      align-items: center; }
      /* line 209, website/static/website/scss/home.scss */
      .hero .container .text h1, .hero .container .text p {
        text-align: center;
        width: 100%; }
    /* line 214, website/static/website/scss/home.scss */
    .hero .container .images {
      width: 100%; }
  /* line 218, website/static/website/scss/home.scss */
  .hero::after {
    display: none; }
  /* line 224, website/static/website/scss/home.scss */
  .products .container .gallery {
    flex-direction: column; }
    /* line 226, website/static/website/scss/home.scss */
    .products .container .gallery .card {
      width: 100%; } }
