/* line 7, website/static/website/scss/home.scss */
:root {
  --primary-yellow-color: #EAB308;
  --primary-yellow-hover-color: #ba8c04; }

/* line 12, website/static/website/scss/home.scss */
.hero .container {
  height: 100vh;
  display: flex; }
  /* line 16, website/static/website/scss/home.scss */
  .hero .container .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px; }
    /* line 22, website/static/website/scss/home.scss */
    .hero .container .text h1 {
      font-weight: 700;
      line-height: 120%;
      font-size: 30px; }
      /* line 26, website/static/website/scss/home.scss */
      .hero .container .text h1 span {
        color: var(--primary-yellow-color); }
    /* line 30, website/static/website/scss/home.scss */
    .hero .container .text p {
      width: 60%; }
    /* line 33, website/static/website/scss/home.scss */
    .hero .container .text .btn--get-started {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      border: none;
      width: fit-content;
      background-color: var(--primary-yellow-color);
      transition: all 0.3s ease;
      font-size: 12px;
      font-weight: 500; }
      /* line 44, website/static/website/scss/home.scss */
      .hero .container .text .btn--get-started:hover {
        background-color: var(--primary-yellow-hover-color); }
  /* line 49, website/static/website/scss/home.scss */
  .hero .container .images {
    position: relative;
    background-color: red;
    width: 60%;
    height: 100%; }
    /* line 54, website/static/website/scss/home.scss */
    .hero .container .images img {
      max-width: 100%; }
    /* line 57, website/static/website/scss/home.scss */
    .hero .container .images .image--sofa {
      width: 90%; }

/* line 62, website/static/website/scss/home.scss */
.hero::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 110%;
  z-index: -1;
  background-color: #CEDEEB;
  right: -33%;
  top: -50%;
  transform: skewX(-45deg); }
