.pages_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page {
    position: relative;
    width: 100%;
    z-index: 99;
}

.page-100 {
    @extend .page;
    height: 100vh;
}

.page-75 {
    @extend .page;
    height: 75vh;
}

.page-50 {
    @extend .page;
    height: 50vh;
}

.page-25 {
    @extend .page;
    height: 25vh;
}
